.bg-light {
    /* background-color:beige !important; */
    /* background-color: rgba(194, 213, 189, 0.9); */
    background-color:rgb(201, 81, 81);
   
 
    
}
/* .imageH  img{
width: 100%;
height: 100%;
} */
/* body  {
    background-image: url("https://wallpapers.com/images/hd/big-house-with-luscious-garden-ut1p7rgvzij6ptmu.jpg"); 
    background-size: 100%;
   
    
  }
  */
