.bg-light {
    background-color:beige !important;
 
    
}
/* .imageH  img{
width: 100%;
height: 100%;
} */
/* body  {
    background-image: url("https://wallpapers.com/images/hd/big-house-with-luscious-garden-ut1p7rgvzij6ptmu.jpg");
    background-size: 100%;
   
    
  } */
 
