/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
body{
    padding-right: 0px;
}

.nav-item{
    margin-left: 50px;
}
/* .bg-dark {
   margin: 0px 100px;
} */
 /* .btn-outline-success{
    margin-left: 600px;
 } */
  .bg-light a{
    font-size: 15px;
    font-weight: 500;
    margin-bottom:0px;
}
  
*{color:  black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .navbar-expand-lg .navbar-collapse{
    font-size: 15px;
    font-weight: 500;
} */
.navbar-toggler{
    padding: 1px 5px;
    margin: 18px;
line-height: 0.3;

}
.bg-light {
    background-color: bisque!important;
height: 100px;}
.w-100-height{
height: 90vh;
width: 100%;


}
.button2{
    padding: 2px 5px;
    border-radius: 10px;

}
.button2:hover{
    background-color: bisque ;
 
}
.carousel-item {
    min-height: 300px;
}
.carousel1-caption{
text-align: left;
margin-bottom: 200px;
z-index: 2;
}
h5{text-transform: uppercase;
    color: beige;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 100px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 60px;
   
  
}
p{width: 60%;
    font-size: 16px;
    color: white;
    line-height: 1.9;
    text-align: left;

}

.carousel-item .carousel1-caption input{
    padding: 0.73rem;
}

/* .carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
} */
.card-bottom{
    right: 0;
    margin-top: -178px;
    border-radius: 0;
}
.card-text{
    color: beige;
}
.card-color{
    background-color: black;
    border-radius: 0;
}
.bg-dark {
    margin-right: 30px;
   

}
/* .footer{
    background-color: bisque;
    margin-top: -15%;
} */
/* .rounded-0{
height: 300px;
} */
.navbar-collapse{
    z-index: 1;
    
}
.navbar-expand-lg .navbar-nav{
    margin-top: 15px;
}
h2{
    font: 2em sans-serif;
}
h1{
    font-size: 1.8rem;
}
/* h6{margin-bottom: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-right: 30px;
} */
 ul{
    list-style: none;
    list-style-position: inherit;
 }
 ol ,ul{
    padding-left: 0;
    padding-right: 12px;
 }
 
 .ms-auto {
font-size: 28px;
font-weight: 800px;
 }
 .footer img{
    width: 100px;
 }
 .footer{
    width: 100%;
    background-color:rgb(241, 204, 159);
    padding: 3rem 8rem;
    padding: 0;
 }
 .footer .footer-box{
    gap: 9rem;
   /* margin-top: 350px; */
   margin-top: 200px;
    display: grid;
    width: 100%;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;

 }
 @media only screen and (max-width:1024px){

    .bg-light{
        text-align: center;
    }
 }
 p{
 color: #4a3e3e;}
 .img-fluid {
    margin-left: 30px;}
#btt{
    
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
h3{
    font-size: 2rem;
}
@media only screen and (max-width:700px) {
.bg-light{
    text-align: center;
}
.navbar-light .navbar-nav .nav-link{
    margin-right: 50px;
}
h5{
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
p{
    padding: 10px 15px;
    font-size: 15px;
}
    
}
@media only screen and (max-width:500px){
   
    .bg-light{
        text-align: center;
        width: 100%;
    }
    body{
        padding: 0;
        margin: 0px 20px;
    }
     
}
